*{
    margin: 0px;
} 
::selection{
    background-color: #c70000e0;
    color: white;
}
.container{
    margin: 20px 0px;
}
.section1{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
    padding-top: 20px;
}

.logo{
    display: inline-block;
}
.nature{
    font-size: 20px;
    letter-spacing: 2px;
}
nav{
   
    margin-left: 30%;
    font-size: 13px;
    display: inline-block;
    
}
nav li{
 list-style: none;
 margin-left: 00px;
 display: inline-block;

}
li a{
    text-decoration: none;
    padding: 0px 10px;
    color: black;
}
nav button{
    color: white;
    background-color: #da1212c7;
    border-radius: 65px;
    padding: 5px 10px;
    font-size: 15px;
    margin-top: 10px;
    border-color: #da1212c7;
}
.container{
    margin: 0px;
    background-color: #8080802b;
    padding-bottom: 80px;
    padding-top: 70px;
}
.nature-tree{
    background-color: white;
    margin: auto;
    width: 76%;
    padding-top: 50px;
}
.tree img{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    padding: 10px 103px;
}
.winter-birding{
    
    width: 100%
}
.winter-birding h3{
    padding: 0px 0px 10px 103px;
    font-size: 32px;
}
.winter-birding p{
    font-size: 17px;
   padding: 0px 0px 10px 103px;
   display: inline-block;
   color: red;
}
.lis{
    list-style: none;
}
  .lis a{
   text-decoration: none;
    color: red;
    list-style-type: none;
}
.nullam-imperdiet{
    padding-top: 20px;
   
    margin: auto;
}
.nullam{
    display: flex;
    justify-content: space-around;
    width: 80%;
    padding: 10px 103px;
}
.one{
    width: 100%;
}
.one h2{
    font-size: 37px;
    padding-bottom: 20px;
}
.one p{
    font-size: 17px;
}
.two{
    width: 100%;
}
.two p{
    font-size: 17px;
    padding-bottom: 15px;
}
hr{
    padding: 0px 103px;
    width: 80%;
}
.nemo{
    padding-top: 20px;
   
    margin: auto;
}
.nemo p{
    font-size: 17px;
    padding: 10px 103px;
    color: #c70000e0;
}
.proin{
    padding-top: 20px;
   
    margin: auto;
}
.proin{
    display: flex;
   
    justify-content: space-around;
   
    padding: 10px 120px 10px 103px;
}
.gravida p{
    font-size: 17px;
    
    margin-bottom: 10px;
}

.birds img{
    width: 380px;
    padding-left: 12px;
    height: 400px;
}
.leave-comment{
    background-color: #8080802b;
    padding-bottom: 80px;
}
.comment{
    background-color: white;
    margin: auto;
    width: 76%;
    padding-bottom: 30px;
}
.leave{
    padding: 40px 0px;
    text-align: center;
}
.leave h3{
font-size: 25px;
}
.leave p{
    font-size: 17px;
}
form {
    border-radius: 5px;
   padding-bottom: 70px; 
    width: 70%;
    margin-left: 150px;
  }
  input[type=text] {
    padding: 12px 20px;
    margin: 8px 11px 25px 12px;
    box-sizing: border-box;
    background-color: #80808014;
    text-transform: capitalize;
  }
  textarea {
    width: 100%;
    padding: 6px 0px;
    margin: 8px 0px 35px 0px;
    box-sizing: border-box;
    height: 200px;
    background-color: #80808014;
}
  input[type=submit] {
    
    background-color:#c70000e0;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .footer{
    background-image: url("./image/foot.jpg");
    background-size: cover;
    background-attachment: fixed;
    height:590px;
    color: white;
}
.container3{
    background-color:#01162794;
    height: 590px;
}
.last-about{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 100px;
}
.one-two{
    list-style-type:none ;
margin-left: 0px;
padding-left: 0px;
}
#minus{
    padding-right: 15px;
}
.abt{
    font-size: 20px;
    margin-bottom: 10px;
}
.red{
    font-size: 18px;
    font-style: italic;
    color: red;
    line-height: 26px;
}
.white{
    font-size: 15px;
    line-height: 26px;
    color: grey;
}
.one-two li{
    margin-bottom: 15px;
    

}
.one-two li a{
    color: grey;
    font-size: 17px;
}
.proin ,.third-third{
    font-size: 17px;
    line-height:26px; 
    color: grey;
}
.hrr{
    margin-top: 150px;
}
.rights{
    width: 85%;
    margin: 50px auto  ;
}
.copy{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

  












